# Ignore class files
*.class

# Ignore other common files and directories
/bin/
build/
out/
target/

# Ignore IDE specific files
/.idea/
/*.iml
/.vscode/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo